<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS ONLINE
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->

      <!-- Boostrap CSS LOCAL -->
      <link rel="stylesheet" href="../static/css/bootstrap.css">

    <!-- Other CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
  </head>



  <body>
    <nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('intro') }}">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Other</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="wrapper">
        <h1>>> password table</h1>
        <table class="table table-sm table-striped" id="password_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>password</th>
                    <th>hash</th>
                    <th>tries</th>
                    <th>time (ms)</th>
                    <th>status</th>
                    <th>source</th>
                </tr>
            </thead>

            {% for row in table %}
                <tr>
                    <td>{{ loop.index0 }}</td> <!--row number-->
                    <td>{{ row[1].decode('utf-8') }}</td> <!--password-->
                    <td>{{ row[2] }}</td> <!--hash-->
                    <td>{{ row[3] }}</td> <!--tries-->
                    <td>{{ row[5] }}</td> <!--elapsed_time-->
                    <td>{{ row[6] }}</td> <!--status-->
                    <td>{{ row[7] }}</td> <!--source-->
                </tr>
            {% endfor %}

        </table>

        <div class="input-group">
            <!-- initial entered password -->
            <input type="password" class="form-control" id="password_input" placeholder="enter password...">

            <!-- confirmed entered password -->
            <input type="password" class="form-control" id="password_input_confirm" placeholder="confirm password...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" onClick="submitPassword();">create md5 hash</button>
            </span>
        </div><!--/input-group-->

        <div id = "createdHash">
            <h1>>> your entered hash </h1>
            <div id = "hashContent">
                <h3>---</h3>

            </div>

        </div><!--/createdHash-->
    </div><!--/wrapper-->



    <!-- my javascript/jQuery-->
	<script src="{{ url_for('static', filename = 'jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'md5.js') }}"></script>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- I removed this integrity code so I could use the full version of jquery, which is needed for ajax on my button function.  integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous" -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
